# Ignore Python artifacts
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large data files and saved models
*.csv
# *.pkl
